body{margin:0;font:1.0em cambria;background:rgb(220,220,220);padding-bottom:50px;}
h1{font:bold 25px verdana;padding:10px;background:darkgray;
	margin:0;margin-bottom:15px;color:white}
#slider{
	margin:auto;overflow:hidden;width:900px;height:550px;
	box-shadow:0 0 30px black; 
}
#slider img{
	height:75%;
}
#slider p{
	text-align:center;font:25px sans-serif;
}
#slider p i{
	display:block;color:gray;font-size:20px;margin:5px 0;
}